.header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
  width: 234px;
}

.header h2 {
  font-size: 24px;
  margin-right: auto;
}

.header input {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
  width: 200px;
}

.header .btn {
  background: #1e63d9;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header .bell {
  font-size: 20px;
  cursor: pointer;
}
