server {
    listen 80;
    root /usr/share/nginx/html;
    index index.html;

    # CSP dinâmica com API_URL injetada
    add_header Content-Security-Policy "connect-src 'self' ${API_URL} https://www.googleapis.com https://openlibrary.org https://books.google.com;" always;
    

    location / {
        try_files $uri $uri/ /index.html;
    }
}
